server:
  port: ${PORT:8080}
  compression:
    enabled: false
spring:
  jackson:
    serialization:
      indent_output: false
bench:
  payloads-dir: ${PAYLOADS_DIR:../performance-grpc-rest/payloads}
